body {
    margin: 0;
    padding: 0;
    background-color: lightgray;
    font-family: "Verdana";
    font-size: 1.2em;
}

#header {
    width: 100%;
    padding: 20px;
    background-color: black;
    color: snow;
    position: fixed;
    top: 0;
    left: 0;
}

#content {
    padding: 15px;
    width: 85%;
    margin: 80px auto;
    background-color: snow;
    box-shadow: 5px 5px 7px gray;
}

.data_table {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    border-collapse: collapse;
}

.data_table tr {
    border-bottom: 1px solid gray;
}

.data_table td {
    transition: all 0.5s;
    padding: 7px;
}

.data_table td a {
    text-decoration: none;
    font-weight: bold;
    color: #1326bb;
}

.data_table tr:nth-child(2n) {
    background-color: #cccccc;
}

.data_table tr:hover td {
    background-color: #c3f1ff;
}

.button {
    background-color: black;
    color: snow;
    padding: 5px;
    border: none;
    outline: none;
    transition: all 0.5s;
}

.button:hover {
    cursor: pointer;
    color: #b6f3e4;
}
